<!-- HEAD -->
<link href="/assets/styles.css" rel="stylesheet" type="text/css" />
<%- include('../../partials/head/head.ejs') %>
<!-- NAVBAR -->
<%- include('../../partials/navbar/navbar.ejs') %>

<div class="container">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-lg-12 col-xl-11">
      <div class="card text-black" style="border-radius: 25px">
        <div class="card-body px-5">
          <div class="row justify-content-center">
            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
              <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">
                CREATE NEW PRODUCT
              </p>

              <form action="" class="formulario" id="formularioProductos">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Name</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    name="nombre"
                    id="nombre"
                    aria-describedby="emailHelp"
                    required
                  />
                  <label class="alert" for="lblName" name="lblName" id="lblName"
                    >Solo letras y espacios</label
                  >
                </div>

                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Price</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    name="precio"
                    id="precio"
                    aria-describedby="emailHelp"
                    required
                  />
                  <label
                    class="alert"
                    for="lblPrecio"
                    id="lblPrecio"
                    name="lblPrecio"
                    >Solo números de 0 a 10 digitos</label
                  >
                </div>

                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Cant</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    name="cantidad"
                    id="cantidad"
                    aria-describedby="emailHelp"
                    required
                  />
                  <label
                    class="alert"
                    for="lblCantidad"
                    id="lblCantidad"
                    name="lblCantidad"
                    >Solo números de 0 a 10 digitos</label
                  >
                </div>

                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Description</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    name="descripcion"
                    id="descripcion"
                    aria-describedby="emailHelp"
                    required
                  />
                  <label
                    class="alert"
                    for="lblDescripcion"
                    id="lblDescripcion"
                    name="lblDescripcion"
                    >Solo letras y espacios</label
                  >
                </div>

                <button type="submit" class="btn btn-primary">
                  Create Product
                </button>
              </form>
            </div>
            <div
              class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2"
            >
              <img
                src="https://img.freepik.com/vector-gratis/cocina-mexicana-platos-bocadillos-bebidas-iconos-planos-establecidos_1284-11668.jpg?w=826&t=st=1668207454~exp=1668208054~hmac=1c4554764c23f436eaab30f67e22f2b3dcf3cc1fefad60cacce2c8ce5e3ef977"
                class="img-fluid"
                alt="Sample image"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="/js/productValidation.js"></script>
</div>

<!-- <div class="container">
<h1><%= title %></h1>
    <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div> -->
<!-- FOOTER -->
<%- include('../../partials/footer/footer.ejs') %>
