<!-- HEAD -->
<%- include('../../partials/head/head.ejs') %> 
<!-- NAVBAR -->
<%- include('../../partials/navbar/navbar.ejs') %> 

        <main class="container">
          <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">
            REGISTER NEW USER
          </p>
          <section class="row d-flex justify-content-center align-items-center">
            <section class="col-lg-12 col-xl-11">
              <section class="card text-black" style="border-radius: 25px;">
                <section class="card-body">
                  <section class="row justify-content-center">
                    <section class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
      
                      <form class="mx-1 mx-md-4" id="formularioClientes">
      
                        <article class="d-flex flex-row align-items-center mb-0">
                          <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                          <section class="form-outline flex-fill mb-0">
                              <label class="form-label" for="name">Name</label>
                            <input type="text" id="name" name="name" class="form-control" required/>
                            <label class="invisible" for="lblName" id="lblName" name="lblName">solo letras y espacios-</label>
                          </section>
                        </article>
                        

                        <article class="d-flex flex-row align-items-center mb-0">
                          <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                          <section class="form-outline flex-fill mb-0">
                              <label class="form-label" for="surname">Surname</label>
                            <input type="text" id="surname" name="surname" class="form-control" required/>
                            <label class="invisible" for="lblSurname" id="lblSurname" name="lblSurname">solo letras y espacios-</label>
                          </section>
                        </article>

                        <article class="d-flex flex-row align-items-center mb-0">
                          <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                          <section class="form-outline flex-fill mb-0">
                              <label class="form-label" for="identification">Identification</label>
                            <input type="text" id="identification" name="identification" class="form-control" required/>
                            <label class="invisible" for="lblIdentification" id="lblIdentification" name="lblIdentification">solo números de 7 a 12 digitos-</label>
                          </section>
                        </article>
      
                        <article class="d-flex flex-row align-items-center mb-0">
                          <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                          <section class="form-outline flex-fill mb-0">
                              <label class="form-label" for="form3Example3c">Email</label>
                            <input type="email" name="email" id="email" class="form-control" required/>
                            <label class="invisible" for="lblEmail" id="lblEmail" name="lblEmail">Aca debe ir un Email- no puede ser vacio-</label>
                          </section>
                        </article>
      
                        <article class="d-flex flex-row align-items-center mb-0">
                          <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                          <section class="form-outline flex-fill mb-0">
                              <label class="form-label" for="address">Address</label>
                            <input type="text" name="address" id="address"  class="form-control" required/>
                            <label class="invisible" for="lblAdress" name="lblAddress" id="lblAddress">Ingresa una direccion valida</label>
                          </section>
                        </article>
      
                        <article class="d-flex flex-row align-items-center mb-0">
                          <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                          <section class="form-outline flex-fill mb-0">
                              <label class="form-label" for="phone">Phone</label>
                            <input type="text" id="phone" name="phone" class="form-control" required/>
                            <label class="invisible" for="lblPhone" id="lblPhone" name="lblPhone">Solo números de 7 a 11 digitos</label>
                          </section>
                        </article>
      
                        <div class="d-flex justify-content-between mx-4 mb-3 mb-lg-4">
                          <button id="guardar" type="button" class="btn btn-primary btn-lg bg-success">Save</button>
                          <a href="/users" class="btn btn-primary btn-lg bg-success">My Users</a>
                        </div>
      
                      </form>
                    </section>

                    <figure class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                      <img src="https://img.freepik.com/vector-gratis/ilustracion-concepto-acceder-al-perfil-movil_114360-83.jpg?w=500"
                        class="img-fluid" alt="Sample image">
                    </figure>

                  </section>
                </section>
              </section>
            </section>
          </section>
          <script type="text/javascript" src="/js/users.js"></script>
          <script type="text/javascript" src="/js/userValidation.js"></script>
        </main>
<!-- FOOTER -->
<%- include('../../partials/footer/footer.ejs') %> 