<!-- HEAD -->
<%- include('../../partials/head/head.ejs') %> 
<!-- NAVBAR -->
<%- include('../../partials/navbar/navbar.ejs') %> 


<div class="container">
    <h1>Aqui va la lista de usuarios</h1>
</div>
<%- include('../../partials/footer/footer.ejs') %> 